<div class="signup-background">
  <div class="user">
    <div class="right-container">
    <div class="welcome-ttt"><img src="/assets/TF-logo.png" style="width:304px;height:228px;"></div>
    </div>
    <div class="left-container">
    <h2 class="signup-header">Sign up - you can edit your profile next!</h2>
    <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="form__group">
          <%= f.email_field :email, placeholder: "Email", autofocus: true,  class: "form__input"  %><br>
        </div>

        <div class="form__group">
         <%= f.text_field :first_name, placeholder: "First name", class: "form__input"  %><br>
        </div>

        <div class="form__group">
          <%= f.text_field :last_name, placeholder: "Last name", class: "form__input"  %><br>
        </div>

        <div class="form__group">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password",  class: "form__input"  %><br>
        </div>

        <div class="form__group">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password",  class: "form__input"  %>
          <%= f.submit "Sign up", class:"btn" %>
        </div>
      <% end %>
    </div>
     <div class="ali-text">Already signed up? <%= render "devise/shared/links" %><div>
    </div>
   </div>
  </div>
  </div>
