<section class="clearfix homeBanner" style="background-image: url('/assets/blue-music-background.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banerInfo">
          <h1>FIND A TEACHER. FAST.</h1>
          <p class="homepage-para" style="margin-bottom: 50px;">Teacher Finder makes it easy to find a teacher at no extra cost</p>
          <div class="form-inline">
            <div class="form-group">
              <%= form_tag search_teachers_path, method: :get do |f| %>
                <div class="input-group">
                  <div class="input-group-addon">Find</div>
                  <%= text_field_tag :search, nil, placeholder: "Piano, Bass, Guitar", class: "form-control" %>
                  <div class="input-group-addon addon-right"></div>
                </div>
                <div class="input-group">
                  <div class="input-group-addon">Near</div>
                  <%= text_field_tag :location, nil, placeholder: "London, Manchester", class: "form-control" %>
                  <div class="input-group-addon addon-right"></div>
                </div>
                <%= submit_tag 'Search', {class: "btn btn-primary"} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/instrument_grid' %>

<%= render 'layouts/latestteachers' %>
