<div class="finder">
  <img class="logo" src="/assets/TF-logo.png" style="width:152px;height:114px;">
    <h1 class="header">Find a teacher. Fast.</h1>




  <div class="search-container">
   <div class="search-elements">
      <%= form_tag search_teachers_path, method: :get do |f| %>
      <%= text_field_tag :search, nil, placeholder: "Instrument: Piano, Bass, Guitar", class: "search-left" %>
      <%= text_field_tag :location, nil, placeholder: "Location: London, Manchester", class: "search-right" %>
      <%= submit_tag 'Search', {class: "button"} %>
      <% end %>
    </div>
  </div>


<div class="link-list">
  <ul class="icon-list">
    <li class="homepage-category">
      <img class="icon" src="assets/piano-icon-white">
      <a class="homepage-category-text" href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=piano&location=&commit=Search">Piano</a>
    </li>
    <li class="homepage-category">
      <img class="icon" src="assets/guitar-icon-white">
      <a class="homepage-category-text" href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=guitar&location=&commit=Search">Guitar</a>
    </li>
    <li class="homepage-category">
      <img class="icon" src="assets/drum-icon-white">
      <a class="homepage-category-text" href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=drums&location=&commit=Search">Drums</a>
    </li>
    <li class="homepage-category">
      <img class="icon" src="assets/sing-icon-white">
      <a class="homepage-category-text" href="http://localhost:3000/teachers/search?utf8=%E2%9C%93&search=singing&location=&commit=Search">Singing</a>
    </li>
  </ul>
</div>
</div>

<%= link_to "Create a teaching profile", new_teacher_path %>

<%= render 'layouts/instrument_grid' %>

<hr/ class="line">

<%= render 'layouts/latestteachers' %>
