<!DOCTYPE html>
<html>
<head>
  <title>Findateacher</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%= render 'layouts/navigation' %>

  <%= yield %>

  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">x</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
  <% end %>

  <script>
  $('.stay-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    }
  });
  </script>
</body>
</html>
